body{
    background-image: url(Images/image-bg.jpg);
    background-size: 100%;
    font-family: Helvetica Neue;
}



@media only screen and (max-width: 765px) {
    .text{font-size: 30px;}
}

.haut{
    background: #042425;
}
.blok-ins{
    background-color: #46B6E4;
}
