body{
    background-image: url(../../Images/image-bg.jpg);
    background-size: 100%;
    font-family: Helvetica Neue;
}


@media only screen and (max-width: 765px) {
    .text{font-size: 30px;}
}
@media only screen and (max-width: 1024px) {
    .text{font-size: 27px;}
}

.haut{
    background: #042425;
}
.blok-ins{
    background-color: #46B6E4;
}

.btn-quit{
    margin-left: 25%;
}

.avatar{
    height: 40%;
}

.nav-bar{
    z-index: 10;
}

.bloc-bleu{
    z-index: 1;
}